﻿- title = "Auth";

html
  include includes/head

body.ui
  form.login(method="post", action="/login")
    div.pattern-cell.login: div
      div.substrate

        include includes/messages
        script(src='/javascripts/vendor/jquery.js')
        script(src='/javascripts/register.js')


        div.textbox: input(type="text", placeholder="Name", name="fullName")

        div.textbox.icon.register-field
          i.fa.fa-user
          input(type="text", placeholder="Login", name="username",
            required, data-required-msg="Username is required")

        div.textbox.icon
          i.fa.fa-lock
          input(type="password", placeholder="Password", name="password",
               data-required-msg="Password is required")

        button.rectangular.green.login-button
          i.fa.fa-sign-in
          span Log In

        //-button.rectangular.green.register
          //-span Register

