- title = "My app";

html
  include includes/head

body.ui
  include includes/navigation

  div.page-wrapper
  script(type="text/javascript" src="/javascripts/vendor/require.js", data-main="/javascripts/init.js")
