﻿- title = "Profile";

html
  include includes/head

body.ui
  include includes/navigation
  div.page-wrapper: div.page
    div.grid-container
      div.grid-column.col-60
        div.substrate
          h1 #{user.fullName}
          p Username: #{user.username}
          p Date of registration: #{moment().format('MM/DD/YYYY')}
