﻿- title = "Search";

html
  include includes/head

body.ui
  include includes/navigation
  div.page-wrapper: div.page
    div.grid-container
      div.grid-column.col-60
        form.search(method="get", action="")
          div.substrate
            div.textbox.icon
              i.fa.fa-search
              input(type="text", placeholder="Search users by name",
                name="q")
            if locals.users
              if locals.users.length
                div.list-of-users: ul
                  each user in users
                    li
                      a(href="/users/#{user.username}"): span #{user.fullName}

                      div.control
                        button.clear
                          i.fa.fa-times

                include includes/paginate
              else
                p No matches for '#{q}'
