<a href="{{ url }}" class="profile-link"><span>{{ fullName }}</span></a>
<div class="control">
    {{#if isFriend }}
        <button class="clear"><i class="fa fa-times"></i></button>
    {{else}}
        <button class="clear"><i class="fa fa-plus"></i></button>
    {{/if}}
</div>
