<div class="page">
    <div class="grid-container">
        <div class="grid-column col-60">
            <div class="substrate">
                <div class="textbox icon"><i class="fa fa-search"></i>
                    <input type="text" placeholder="Enter your user name ..." class="search"/>
                </div>
                <div class="list-of-users">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</div>
