div.navigation
  ul
    li#nav-friends
      a(href="/dashboard").button.rectangular
        i.fa.fa-user
        span Friends
    li#nav-search.active
      a(href="/search").button.rectangular
        i.fa.fa-search
        span Search
    li#nav-logout
      a(href="#").button.rectangular
        i.fa.fa-sign-out
        span Logout
