 <div class="page">
      <div class="grid-container">
        <div class="grid-column col-50">
          <div class="substrate">
            <h1>Inbox</h1>
            <div class="list-of-users">
              <ul>
                <li><a href="/"><span>Konstantin Konstantinov</span></a>
                  <div class="control">
                    <button class="clear"><i class="fa fa-check"></i></button>
                    <button class="clear"><i class="fa fa-times"></i></button>
                  </div>
                </li>
                <li><a href="/"><span>Daniel Danilevsky</span></a>
                  <div class="control">
                    <button class="clear"><i class="fa fa-check"></i></button>
                    <button class="clear"><i class="fa fa-times"></i></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="grid-column col-50">
          <div class="substrate">
            <h1>Outbox</h1>
            <div class="list-of-users">
              <ul>
                <li><a href="/"><span>Nastassja Kotinskaya</span></a>
                  <div class="control">
                    <button class="clear"><i class="fa fa-times"></i></button>
                  </div>
                </li>
                <li><a href="/"><span>Luba Ljubasha</span></a>
                  <div class="control">
                    <button class="clear"><i class="fa fa-times"></i></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="grid-column">
          <div class="substrate">
            <h1>My Friends</h1>
            <div class="list-of-users">
              <ul>
                <li><a href="/"><span>Vladimir Zhirinovsky</span></a>
                  <div class="control">
                    <button class="clear"><i class="fa fa-times"></i><span>Remove from friends</span></button>
                  </div>
                </li>
                <li><a href="/"><span>Vladimir Putin</span></a>
                  <div class="control">
                    <button class="clear"><i class="fa fa-times"></i><span>Remove from friends</span></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
