  <div class="navigation" id="nav-region">
    <ul>
      <li class="active"><a href="/" class="button rectangular"><i class="fa fa-user"></i><span>Friends</span></a></li>
      <li><a href="/" class="button rectangular"><i class="fa fa-search"></i><span>Search</span></a></li>
    </ul>
  </div>
  <div class="page-wrapper" id="main-region">
  </div>
