<div class="substrate">
  <h1>Inbox</h1>
  <div class="list-of-users">
    <ul>
      <li><a href="/"><span>Konstantin Konstantinov</span></a>
        <div class="control">
          <button class="clear"><i class="fa fa-check"></i></button>
          <button class="clear"><i class="fa fa-times"></i></button>
        </div>
      </li>
      <li><a href="/"><span>Daniel Danilevsky</span></a>
        <div class="control">
          <button class="clear"><i class="fa fa-check"></i></button>
          <button class="clear"><i class="fa fa-times"></i></button>
        </div>
      </li>
    </ul>
  </div>
</div>
